/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
* {
  box-sizing: border-box;
}
html,
body {
  font-family: 'Ubuntu', sans-serif;
}
body {
  background: #001c2a;
  background-image: url('/img/bg.png');
  background-attachment: fixed;
  background-size: cover;
}
#search-box {
  display: flex;
  justify-content: center;
  margin: 2% auto 3% auto;
  align-content: center;
  height: 5%;
  width: 15%;
  background: #95cbe3;
  border: none;
  font-size: 1rem;
  text-align: center;
}
.container {
  display: flex;
  justify-content: center;
  height: auto;
  width: 80%;
  margin: 0 auto 0 auto;
  flex-direction: column;
}
@media ( max-width: 500px ) {
  .container {
    flex-direction: column;
    width: 70%;
  }
}
.container #clock {
  display: flex;
  justify-content: center;
  height: auto;
  margin-top: 15%;
  margin-bottom: 5%;
  color: white;
  font-size: 10rem;
}
.container .stuff-i-want {
  display: flex;
  width: 80%;
  justify-content: center;
  margin: 0 auto 3% auto;
}
.container .stuff-i-want .desired {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 30%;
  background: #eff1f5;
  padding: 1%;
}
.container .stuff-i-want .desired img {
  -webkit-border-radius: 10%;
  -moz-border-radius: 10%;
  border-radius: 10%;
  height: 10%;
}
.container .stuff-i-want .desired a {
  text-align: center;
  font-size: 1.5rem;
  text-decoration: none;
  color: black;
}
.container .links {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0 auto;
  width: 90%;
}
.container .links .school {
  display: flex;
  flex-direction: column;
  width: 18%;
  text-align: center;
}
.container .links .school a {
  text-decoration: none;
  color: #001c2a;
  padding: 1px 0;
}
.container .links .school h1 {
  padding: 2px 0;
}
.container .links .school h1 {
  background: #8fa1b3;
}
.container .links .school a {
  background: #eff1f5;
}
.container .links .school a:hover {
  transition: all 0.3s ease;
  -webkit-transform: scale(1.5);
  -ms-transform: scale(1.5);
  transform: scale(1.5);
  background: #001c2a;
  color: white;
}
@media ( max-width: 500px ) {
  .container .links .school {
    display: flex;
    flex-direction: column;
    width: 100%;
    text-align: center;
    margin: auto;
    font-size: 1.5rem;
  }
  .container .links .school a {
    font-size: 1.5rem;
    text-decoration: none;
    color: #001c2a;
    padding: 1px 0;
  }
}
.container .links .dev {
  display: flex;
  flex-direction: column;
  width: 18%;
  text-align: center;
}
.container .links .dev a {
  text-decoration: none;
  color: #001c2a;
  padding: 1px 0;
}
.container .links .dev h1 {
  padding: 2px 0;
}
.container .links .dev h1 {
  background: #96b5b4;
}
.container .links .dev a {
  background: #eff1f5;
}
.container .links .dev a:hover {
  transition: all 0.3s ease;
  -webkit-transform: scale(1.5);
  -ms-transform: scale(1.5);
  transform: scale(1.5);
  background: #001c2a;
  color: white;
}
@media ( max-width: 500px ) {
  .container .links .dev {
    display: flex;
    flex-direction: column;
    width: 100%;
    text-align: center;
    margin: auto;
    font-size: 1.5rem;
  }
  .container .links .dev a {
    font-size: 1.5rem;
    text-decoration: none;
    color: #001c2a;
    padding: 1px 0;
  }
}
.container .links .reddit {
  display: flex;
  flex-direction: column;
  width: 18%;
  text-align: center;
}
.container .links .reddit a {
  text-decoration: none;
  color: #001c2a;
  padding: 1px 0;
}
.container .links .reddit h1 {
  padding: 2px 0;
}
.container .links .reddit h1 {
  background: #a3be8c;
}
.container .links .reddit a {
  background: #eff1f5;
}
.container .links .reddit a:hover {
  transition: all 0.3s ease;
  -webkit-transform: scale(1.5);
  -ms-transform: scale(1.5);
  transform: scale(1.5);
  background: #001c2a;
  color: white;
}
@media ( max-width: 500px ) {
  .container .links .reddit {
    display: flex;
    flex-direction: column;
    width: 100%;
    text-align: center;
    margin: auto;
    font-size: 1.5rem;
  }
  .container .links .reddit a {
    font-size: 1.5rem;
    text-decoration: none;
    color: #001c2a;
    padding: 1px 0;
  }
}
.container .links .general {
  display: flex;
  flex-direction: column;
  width: 18%;
  text-align: center;
}
.container .links .general a {
  text-decoration: none;
  color: #001c2a;
  padding: 1px 0;
}
.container .links .general h1 {
  padding: 2px 0;
}
.container .links .general h1 {
  background: #ab7967;
}
.container .links .general a {
  background: #eff1f5;
}
.container .links .general a:hover {
  transition: all 0.3s ease;
  -webkit-transform: scale(1.5);
  -ms-transform: scale(1.5);
  transform: scale(1.5);
  background: #001c2a;
  color: white;
}
@media ( max-width: 500px ) {
  .container .links .general {
    display: flex;
    flex-direction: column;
    width: 100%;
    text-align: center;
    margin: auto;
    font-size: 1.5rem;
  }
  .container .links .general a {
    font-size: 1.5rem;
    text-decoration: none;
    color: #001c2a;
    padding: 1px 0;
  }
}
