// Mixins below variables
.flex-box-column() {
  display: flex;
  flex-direction: column;
  width: 18%;
  text-align: center;
  a {
    text-decoration: none;
    color: @background-color;
    padding: 1px 0;
  }
}
.flex-box-column-phone() {
  display: flex;
  flex-direction: column;
  width: 100%;
  text-align: center;
  margin: auto;
  font-size: 1.5rem;
  a {
    font-size: 1.5rem;
    text-decoration: none;
    color: @background-color;
    padding: 1px 0;
  }
}
.border-radius(@radius) {
  -webkit-border-radius: @radius;
     -moz-border-radius: @radius;
          border-radius: @radius;
}

.transform-scale(@scale) {
        -webkit-transform: scale(@scale);
        -ms-transform: scale(@scale);
        transform: scale(@scale);
}

.box-anchor-grow(@animation-duration, @transform-scale, @bg-color, @font-color) {
  transition: all @animation-duration ease;
  .transform-scale(@transform-scale);
  background: @bg-color;
  color: @font-color;
}
