// Start Page Style
body {
  background: @background-color;
  background-image: url('/img/bg.png');
  background-attachment: fixed;
  background-size:cover;
}
#clock {
  display: flex;
  justify-content: center;
  height: auto;
  margin-top: 15%;
  margin-bottom: 5%;
  color: white;
  font-size: 5rem;
}

#search-box {
  display: flex;
  justify-content: center;
  margin: 2% auto 3% auto;
  align-content: center;
  height: 5%;
  width: 15%;
  background: #95cbe3;
  border: none;
  font-size: 1rem;
  text-align: center;
}
.container {
  display: flex;
  justify-content: center;
  height: auto;
  width: 65%;
  // background: white;
  margin: 0 auto 0 auto;
  justify-content: space-around;
  @media @phone {
    flex-direction: column;
    width: 70%;
  }
  .school {
    .flex-box-column();
    h1 {
      padding: 2px 0;
    }
    h1 {
      background: @column-one-header-background;
    }
    a {
      background: @column-content-background;
    }
    a:hover {
      .box-anchor-grow(0.3s, 1.5, @background-color, white)
    }
    @media @phone {
      .flex-box-column-phone()
    }
  }
  .dev {
    .flex-box-column();
    h1 {
      padding: 2px 0;
    }
    h1 {
      background: @column-two-header-background;
    }
    a {
      background: @column-content-background;
    }
    a:hover {
      .box-anchor-grow(0.3s, 1.5, @background-color, white)
    }
    @media @phone {
      .flex-box-column-phone()
    }
  }
  .reddit {
    .flex-box-column();
    h1 {
      padding: 2px 0;
    }
    h1 {
      background: @column-three-header-background;
    }
    a {
      background: @column-content-background;
    }
    a:hover {
      .box-anchor-grow(0.3s, 1.5, @background-color, white)
    }
    @media @phone {
      .flex-box-column-phone()
    }
  }
  .general {
    .flex-box-column();
    h1 {
      padding: 2px 0;
    }
    h1 {
      background: @column-four-header-background;
    }
    a {
      background: @column-content-background;
    }
    a:hover {
      .box-anchor-grow(0.3s, 1.5, @background-color, white)
    }
    @media @phone {
      .flex-box-column-phone()
    }
  }
}